<div class="image" style="float: right"><img src="images/SoteWyjazd.jpg" alt="Shoot" /></div>
<p>Born in Poland's Poznań on december 1983.<br />
In 2003 Uni had to wait.</p>
<p>After gaining some experience and some references, found a home at <a href="http://www.sote.pl">www.sote.pl</a>
where he stayed for 3 years,
developing e-commerce solutions and modifying existing web apps to better suit the needs of the company's clients.<br />
In 2008 moved to London's Telecom Plus PLC, currently building and maintaining the various web sites they administer.
</p>
<p>Currently a web developer at <a href="https://www.utilitywarehouse.co.uk/home/index.taf" title='Utilitywarehouse'>Telecom <i>plus</i> PLC</a>.</p>
<p>
    A proficient <a href="http://php.net">php</a> (4/5 OOP) developer, accustomed to solving borderline server/application issues.<br />
    Using MVC frameworks / php / jquery / javascript / ajax / css / html / xml / soap / json / mysql / mssql / apache (LAMP) / whataver i have a <a href="https://www.google.com">manual</a> for/ in his projects as requested or required.<br />
    Handy with eclipse-pdt, zend studio, PhpStorm, notepad++ and vi<!--Yeah, I said it!-->.
</p>
<p>A <a href="http://linuxcounter.net/user/390477.html">registered</a> linux user (this used to be a thing..),
fairly proficient in using older <a href="http://www.debian.org">debian</a> releases,
but lately got lazy and went along with the <a href="http://www.ubuntu.com/">ubuntu</a> craze.<br />
Playing around with <a href="http://wiki.nginx.org/Main">nginx</a>, <a href="http://aws.amazon.com/">AWS</a> and <a href="https://cloud.google.com/">GCloud</a> when I'm bored.<br />
Up until August 2008 was a <a href="http://www.fluxbox.org">fluxbox</a> evangelist and supporter, but for various reason (got lazy) made a switch to gnome and may not come back...<br />
Comfortable (if slightly unhappy) using windows and xampp.
</p>
<h2 class="posttitle">Trivia</h2>
<div class="image" style="float: left; padding-right: 5px;"><img src="images/290308ASaturday.jpg" alt="Drink"/></div>
<p>
Loves paintball, but doesnt have time to play these days.<br />
Attends the occasional conference (<a href="http://phpconference.co.uk/">PHPLondon 2014 2012 2009</a>, <a href="http://phpconference.com/">International PHP Conference 2006</a>) and <a href="http://www.meetup.com/members/9731643/">Meetups</a>.<br />
Gadget lover, <a href="http://www.android.com/">Android</a> and <a href="https://developers.google.com/products/">Google dev</a> enthusiast. <br />
(Do you have a <a href="https://play.google.com/store/devices/details?id=chromecast">chromecast</a> yet ?
<br /> Dude, you need to get a chromecast !)<br />
Known to spend evenings killing monsters on his game console, or bingeing on Neftlix or <a href="https://www.youtube.com/user/Meltir/channels">youtube</a>.<br />
An armchair <a href="http://www.imdb.com/user/ur26174471/?ref_=nv_usr_prof_2">movie critic</a> and <a href="https://play.spotify.com/user/meltir">music lover</a>.
</p>